:root {
    --primary: #87CEEB;
    --secondary: #FFFFFF;
    --tertiary:#788585;
    --border-radius: 0.3rem;
    --dark:#000000;
}

* {
    box-sizing:border-box;
} 

main{
    margin:2.5px auto;
    width:99%;
}

h1,
h2{
    font-weight: 600;
    margin:0;
    color:var(--dark);
    line-height:1.25;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
}

.flex-row{
    display:flex;
    flex-wrap:wrap;
}

.weather {
    background-color: var(--primary);
    color: var(--secondary);
}

.text-align-center {
    text-align: center;
}

.justify-space-between {
    justify-content: space-between;
}

/* CARDS */
.card {
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
}

.card-header{
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body{
    padding:3px;
}

.card-searchhistory{
    border-top: 3px solid var(--primary);
}

/* FORM */
.form-input{
    display:block;
}


.form-input{
    width:100%;
    border-radius:var(--border-radius);
    font-size:1.5rem;
    padding:0.5%;
}

.btn{
    font-size: 1.3rem;
    text-decoration: none;
    padding:6px 5px;
    width:100%;
    display:block;
    margin:5px 0;
    border-radius: var(--border-radius);
    color:var(--secondary);
    border:none;
    outline:none;
    background-color: var(--primary);
    box-shadow: 3px 3px var(--dark);

}
/* HEIGHT / WIDTH UTILS */
.min-100-vh {
    min-height: 100vh;
}

.col-12 {
    flex: 0 0 100%;
  }


.weather-primarycard{
    border-radius:var(--border-radius);
    margin:12px 0 20px 0;
    border: solid;
    border-color:var(--dark);
    width:90%;
    height:auto;

}

.weather-forecast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.forecast-card{
    width:20%;
    padding:5px;
    border:solid;
    color:var(--secondary);
    background-color: var(--primary);
}

/* media queries */
@media screen and (min-width:768px){
    .col-md-12{
        flex:0 0 100%;
    }
    .col-md-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
      }
    .col-md-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
      }

}

@media screen and (max-width:768px){

    .weather-forecast{
    display:flex;
    flex-direction: column;
}

.forecast-card{
    width:auto;
}
}

.img{
    display: inline;
}
